/* =============
    Base
============= */
body {
    background-color: var(--yellow);
}

ul.blankList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobileOnly {
    @include xl {
        display: none !important;
    }
}

.desktopOnly {
    display: none !important;

    @include xl {
        display: flex !important;
    }
}

.tags {
    display: flex;
    gap: 10px;

    a {
        align-items: center;
        border-radius: 14.5px;
        display: flex;
        justify-content: center;
        padding: 6px 12px;
        width: fit-content;
    }

    .cuisineTag {
        background: #BFBFBF;
    }

    .vegetarian {
        background: var(--vegetarian);
        color: white;
    }

    .pescatarian {
        background: var(--pesc);
        color: white;
    }

    .vegan {
        background: var(--vegan);
    }
}

.time {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.recipeCard {
    align-items: flex-start;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;

    div {
        display: flex;
    }

    .recipeInfo {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;

        .recipeName {
            flex-direction: column;
        }

        .desc {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;
        }
    }
}

main {
    section {
        padding-left: 24px;
        padding-right: 24px;

        @include lg {
            padding-left: 36px;
            padding-right: 36px;
        }

        @include xl {
            padding-left: 48px;
            padding-right: 48px;
        }
    }

    &#homepage {
        #hero {
            align-items: center;
            display: flex;
            justify-content: center;

            img,
            source {
                width: 100%;
                max-width: 1400px;
                display: block;
            }
        }

        #featuredRecipes {
            align-items: center;
            align-self: stretch;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 20px 24px;

            @include xl {
                padding: 20px 230px;
            }

            .tiles {
                align-content: center;
                align-items: center;
                align-self: center;
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                justify-content: space-evenly;
                max-width: 1000px;
                width: 100%;

                .recipeCard {
                    flex-direction: column;
                    width: 252px !important;

                    .cardImg {
                        padding: 0 39px;
                    }

                    .recipeInfo {
                        padding: 10px;
                    }
                }
            }
        }
    }

    &#search {
        #resultsContent {
            align-items: center;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            padding: 20px 0px;

            #resultsHeader {
                align-items: center;
                display: flex;
                flex-direction: column;
                padding-bottom: 24px;

                .searchAndFilter {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    gap: 10px;

                    .search {
                        border: 1px solid #000;
                    }
                }

                #filterResults {
                    align-items: center;
                    align-self: stretch;
                    background: #F4E398;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    justify-content: center;
                    margin-top: 24px;
                    padding: 16px 24px;

                    @include xl {
                        flex-direction: row;
                        margin-left: 48px;
                        margin-right: 48px;
                        padding: 16px;
                    }

                    .searchFilter {
                        align-items: center;
                        background-color: white;
                        border-radius: 14.5px;
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                    }

                    #cuisineFilterCat {
                        align-content: flex-start;
                        align-items: flex-start;
                        align-self: stretch;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 24px;
                        justify-content: center;

                        .cuisineFilter {
                            border: 3px solid var(--orange);
                            padding: 10.5px 17px;

                            &.active {
                                background: var(--orange);
                            }
                        }
                    }

                    #dietaryFilterCat {
                        align-items: flex-start;
                        display: flex;
                        gap: 16px;
                        justify-content: center;

                        .dietaryFilter {
                            padding: 7.5px 17px;
                        }

                        #pescatarianFilter {
                            border: 3px solid var(--pesc);

                            h3 {
                                color: #947729;
                                font-weight: 700;
                            }

                            &.active {
                                background-color: var(--pesc);

                                h3 {
                                    color: white;
                                }
                            }
                        }

                        #vegetarianFilter {
                            border: 3px solid var(--vegetarian);

                            h3 {
                                color: var(--vegetarian);
                                font-weight: 700;
                            }

                            &.active {
                                background-color: var(--vegetarian);

                                h3 {
                                    color: white;
                                }
                            }
                        }

                        #veganFilter {
                            border: 3px solid var(--vegan);

                            h3 {
                                color: var(--vegan);
                                font-weight: 700;
                            }

                            &.active {
                                background-color: var(--vegan);

                                h3 {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            #resultsCount {
                align-self: stretch;
                background-color: white;
                padding: 20px 48px 0px;
            }

            .results {
                align-content: center;
                align-items: center;
                align-self: stretch;
                background-color: white;
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                justify-content: center;
                padding: 20px 48px;

                .recipeCard {
                    flex-direction: column;
                    max-width: 252px;

                    &.filteredDiet,
                    &.filteredCuisine {
                        display: none;
                    }

                    .cardImg {
                        padding: 0 39px;
                    }

                    .recipeInfo {
                        padding: 10px;

                        .desc {
                            display: none;
                        }
                    }
                }

                @include xl {
                    align-content: flex-start;
                    align-items: flex-start;
                    flex-direction: initial;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 20px 120px;

                    .recipeCard {
                        flex-direction: row;
                        max-width: calc((100% - 120px)/2);

                        .cardImg {
                            height: 150px;
                            padding: 0;
                            width: 150px;

                            img {
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }

                        .recipeInfo {
                            flex: 1 0 0;
                            padding: 0, 0, 0, 10px;

                            .desc {
                                align-self: stretch;
                                display: initial;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                text-wrap: nowrap;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }

    &#recipe {
        align-items: center;
        align-self: stretch;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding-bottom: 20px;
        padding-top: 20px;

        img {
            object-fit: cover;
            width: 100%;
        }

        section {
            align-items: center;
            align-self: stretch;
            display: flex;
            flex-direction: column;

            @include lg {
                padding-left: 86px;
                padding-right: 86px;
            }

            @include xl {
                padding-left: 182px;
                padding-right: 182px;
            }
        }

        #recipeIntro {
            gap: 24px;

            @include xl {
                flex-direction: row-reverse;
                gap: 80px;

                img {
                    width: 440px;
                }
            }

            .recipeTitleContent {
                align-items: flex-start;
                align-self: stretch;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .recipeTitleInfo {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    >div {
                        align-items: center;
                        display: flex;
                        gap: 32px;

                        .time {
                            gap: 10px;
                        }
                    }
                }
            }
        }

        #ingredients {
            gap: 24px;

            @include xl {
                flex-direction: row;
                gap: 80px;

                img {
                    width: 440px;
                }
            }

            .ingredientsText {
                align-items: flex-start;
                align-self: stretch;
                display: flex;
                flex-direction: column;
                gap: 16px;

                ul {
                    //24px
                    line-height: 1.5rem;
                }
            }
        }

        #instructions {
            gap: 16px;

            .steps {
                // align-items: flex-start;
                align-items: center;
                align-self: stretch;
                display: flex;
                flex-direction: column;
                gap: 36px;
                justify-content: center;

                @include xl {
                    align-items: flex-start;
                    align-content: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 48px;
                }

                .step {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    max-width: 472px;

                    img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }

                    .stepInfo {
                        align-items: flex-start;
                        align-self: stretch;
                        display: flex;
                        gap: 16px;

                        .stepNum {
                            align-items: center;
                            background: var(--yellow);
                            border-radius: 16px;
                            display: flex;
                            flex-direction: column;
                            height: 32px;
                            justify-content: center;
                            width: 32px !important;
                        }

                        .stepText {
                            align-items: flex-start;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            width: calc(100% - 48px);
                        }
                    }
                }
            }
        }
    }

    &#help {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;

        section {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 20px;
            padding-top: 20px;

            h4 {
                font-weight: 400 !important;
            }
        }

        img {
            width: 100%;
        }
    }

    #recipeError {
        align-content: center !important;
        align-items: center !important;
        align-self: stretch;
        background-color: white;
        background-image: url('assets/errorImage.png') !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column !important;
        gap: 24px;
        justify-content: center;
        padding: 20px 48px;

        h2 {
            text-align: center;
        }
    }

    &#caseStudy {
        background-color: white;
        height: calc(100vh - 112px);
        margin: 32px;
        padding: 24px;
        width: calc(100vw - 112px);
        section{
            padding: 0;
        }

        h1 {
            margin-bottom: 8px;
        }
    }
}