/* =============
    Base
============= */
ul.blankList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobileOnly{
    @include xl{
        display: none !important;
    }
}

.desktopOnly{
    display: none !important;
    @include xl{
        display: flex !important;
    }
}