/* =============
    Header
============= */
header {
    display: flex;
    flex-direction: column;
    padding: 20px 48px;

    @include xl {
        flex-direction: row;
        justify-content: space-between;
    }

    #headerLeft {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px 40px;

        @include xl {
            flex-direction: row;
        }

        #mobileDoubleHeader {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 120px;
            justify-content: space-between;
            width: 100%;

            .headerLogo {
                width: 120px;
            }

            .mobileSearch {
                order: 3;
                width: 100%;

                @include sm {
                    order: 2;
                }
            }

            #hamburger {
                @include sm {
                    order: 3;
                }
                .fa-bars {
                    font-size: 3rem;
                    height: 100%;
                    padding: 8px;

                }
            }
        }

        .headerNav {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            @include xl {
                flex-direction: row;
                width: fit-content;
            }
        }

    }

    #headerRight {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include xl {
            flex-direction: row;
        }
    }

    &.closed {

        .mobileSearch,
        .headerNav {
            display: none !important;
        }

        @include xl {
            .headerNav {
                display: flex !important;
            }
        }
    }

    &.open {

        gap: 20px;

        #mobileDoubleHeader {
            gap: 40px;

            .headerLogo {
                display: none !important;
            }
        }
    }
}