/* =============
    Buttons
============= */
.headerButton {
    align-items: center;
    border-radius: 14px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;

    .buttonState {
        align-items: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
    }
}

#filterButton {
    align-items: center;
    background: var(--yellow);
    border: 0.5px solid #000;
    border-radius: 16px;
    display: flex;
    flex-shrink: 0;
    height: 56px;
    justify-content: center;
    transition: background-color 0.5s ease;
    width: 56px;

    .buttonState {
        align-items: center;
        align-self: stretch;
        display: flex;
        justify-content: center;
        flex: 1 0 0;

        .fa-filter {
            //28 px
            font-size: 1.75rem;
        }
    }
    &.disabled{
        background-color: #959595;
        border: 0;
        .fa-filter{
            color: #4D4D4D;
        }
    }
}

.buttonState {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.headerButton .buttonState:hover,
#filterButton:not(.disabled, .active) .buttonState:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.headerButton .buttonState:active, #filterButton:not(.disabled, .active) .buttonState:active {
    background-color: var(--orange);
}

.buttonState>a {
    color: black;
}