/* =============
    Search
============= */
.search {
    max-width: 240px;
    background: white;
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}