/* =============
    Search
============= */
.search{
    width: 100%;
    padding: 10px;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    border: 1px solid black;
    height: 24px;
}