/* =============
    Search
============= */
.search {
    align-items: center;
    background: white;
    border-radius: 12px;
    display: flex;
    flex: 1 0 0;
    gap: 16px;
    max-width: 240px;
    padding: 10px;
}